<div class="container text-center">
 
<h1>Contacts</h1>

<p>Telephone: 07 60 90 06 56</p>
<p>Adresse: 30 rue saint bart 
	        75015 Paris</p>

<div class=>
	<%= image_tag("immeuble.jpg") %>
</div>

</div>